
<div id="headerContainer">
  <h2 class="text-center">Salarios</h2>
  <%= form_tag salary_index_path do %>
    <label for="json_value">Json Value</label>
    <%= text_area_tag :json_value %>
    <label for="json_value">Level A</label>
    <%= text_field_tag :level_a, 5 %>
    <label for="json_value">Level B</label>
    <%= text_field_tag :level_b, 10 %>
    <label for="json_value">Level C</label>
    <%= text_field_tag :level_c, 15 %>
    <label for="json_value">Level Cuauh</label>
    <%= text_field_tag :level_cuauh, 20 %>
    <%= submit_tag "Submit" %>
  <% end %>
  <div>
    <%= @salaries %>
  </div>
</div>